# Configuration Scaleway Object Storage (S3)
# ------------------------------------------

# Access Key
S3_ACCESS_KEY=SCWXXXXXXXXXXXXXXXXX

# Secret Key
S3_SECRET_ACCESS_KEY=00000000-0000-0000-0000-000000000000

# Région du bucket
S3_REGION=fr-par

# L'URL du endpoint Scaleway (dépend de la région)
# Format : https://s3.{region}.scw.cloud
S3_ENDPOINT_URL=https://s3.fr-par.scw.cloud

# Nom de ton bucket S3
S3_BUCKET_NAME="ifp-upload"